extends vue

snippet vscript
<script setup lang="ts">
	$0
</script>
endsnippet

snippet vbase
<script setup lang="ts">
</script>

<template>
	<div>
		$0
	</div>
</template>
endsnippet

snippet vprops
defineProps<{
	$0
}>()
endsnippet
